<!DOCTYPE html>
<html>

<head>
    <meta property="qc:admins" content="" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" media="only screen and(max-width: 640px)" href="<%= mob_url %>" />
    <meta name="mobile-agent" content="format=html5;url=<%= mob_url %>" />
    <meta name="mobile-agent" content="format=xhtml;url=<%= mob_url %>" />

    <!-- 禁止百度转码  -->
    <meta http-equiv="Cache-Control" content="no-transform" />